<!-- const resetTemplate=

` -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <p style="color: black; font-family: sans-serif;">  <strong>ARQUI</strong>HUB</p>
    <p style="color: black; font-family: sans-serif;"> Hi, here is your link to reestablish your forgotten password:</p>
    <p style="color: black; font-family: sans-serif ; line-height: 1.6"> <b><a href=`${link}`> Reset Password</a></b></br>
        <br>
        Explore everything we have for you: 
    </br> 
   
        <a href="https://arquihub-git-main-frann24.vercel.app/home" style=" font-family: sans-serif ; line-height: 1.6"> Go take a look!</a>
    </br>
</br>
        <p style=" font-family: sans-serif ; line-height: 1.6"> Any questions? </p> 
        <a href="mailto: arquihub06@gmail.com? subject=subject text" style="font-family: sans-serif ; line-height: 1.6"> Contact us </a>
  

</body>
</html>
 `


 <!-- module.exports = resetTemplate -->